<!-- X-Powered-By: PHP/5.4.15
Set-Cookie: XDEBUG_SESSION=phpd; expires=Mon, 16-May-2016 04:59:26 GMT; path=/
Content-type: text/html -->

<br />
<font size='1'><table class='xdebug-error xe-fatal-error' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Fatal error: Maximum execution time of 0 seconds exceeded in C:\wamp\www\Betting\loadFile.php on line <i>2</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>33.1629</td><td bgcolor='#eeeeec' align='right'>135256</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\wamp\www\Betting\loadFile.php' bgcolor='#eeeeec'>..\loadFile.php<b>:</b>0</td></tr>
</table></font>
